* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

/* Above code changes color of just a specific section of text. */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* All the above rules that apply to the header or nav help style the header and navigation bar to make it easier for users to find specific sections of the website. */

.links {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* The above rule set makes it so all paragraphs have a font size of 16 pixels. */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
}

/* The above rule set helps style the larger background image */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The rule sets applied to the classes float-left and float-right help format the images these classes are asigned to so they'll appear beside each other */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* The above rule set helps format the siderbar on the website so that it is positioned properly, and has the right text formatting. */

.benefits p {
    margin-bottom: 32px;
}

/* The above rule set gives spacing to the paragraphs that appear in the sidebar. */

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The above rule set positions and sets text format for the different sections within the content of the code. */

.content img {
    max-height: 200px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* The rule sets applied to the footer element help format the footer so it has the proper color and positioning, as well as proper text formatting */